#about {
    padding: 1rem 2rem;
    min-height: 0;
    max-width: 800px !important;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about .button {
    margin: auto;
}


.about-title h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    color: var(--dourado);
    width: 100%;
    font-size: clamp(1.5rem, 2.5vw, 1.6rem);
}

.about-title h1 {
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(2.5rem, 2.5vw, 1.6rem);
}

.about-text {
    width: 100%;
    text-align: justify;
}