.header {
    --text-color: var(--cinza-claro);
    --text-color-hover: var(--preto);
    --bg-color: var(--branco);
    --bg-ham: var(--preto);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    height: 60px;
    z-index: 25;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.274);
}

.header.header-dark {
    --text-color: #f5f5f5ef;
    --bg-color: var(--preto);
    --bg-ham: var(--branco);
    --text-color-hover: var(--cinza-claro);
    font-weight: 200;

}

/* header contact */
.contact {
    background-color: var(--preto-azulado);
    color: var(--branco);
    width: 100%;
    height: var(--contact-height);
    justify-content: space-around;
    position: relative;
    font-size: .8rem;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 26;
    padding: .5rem;
}

.contact div {
    display: flex;
    align-items: center;
}

.contact img {
    width: 20px;
    margin-left: 1rem;
    margin-right: .5rem;

}

.contact-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--branco);
}

.contact-link:hover {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--vermelho);
}

.contact p {
    margin: 0;
}

.contact-link-desktop {
    display: none;
}

.contact-link-mobile {
    display: flex;
}

.header a,
li,
.header a:visited {
    color: var(--text-color);
    text-decoration: none;
}

.header a:hover,
.header .accordion-label:hover {
    color: var(--text-color-hover);
}

.logo {
    width: 50%;
    max-width: 210px;
}

.logo img {
    width: 100%;
}

.zara-logo {
    max-width: 100px;
}


/* off-screen-menu */
.off-screen-menu {
    align-items: left;
    background-color: var(--bg-color);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
    font-family: var(--font-princial);
    font-size: 1rem;
    height: 100vh;
    justify-content: space-around;
    max-width: 450px;
    padding: 1rem 0;
    position: fixed;
    right: -650px;
    text-align: left;
    transition: .6s ease-in-out;
    top: 0;
    width: 80%;
}

.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: var(--bg-color);

}

.nav-list {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


/* ham menu */
.ham-menu {
    height: 30px;
    width: 25px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--bg-ham);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}


.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Accordion */

.nav-accordion input {
    display: none;
}

.nav-accordion label {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.nav-accordion-content {
    padding: 1rem 1rem 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s ease-in-out;
    background-color: var(--bg-color);
    position: absolute;
}

.nav-accordion-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-left: 1.5px solid var(--vermelho);
    padding: 0 1rem 0 1rem;
}


.nav-arrow {
    transition: transform 0.3s ease-in-out;
}

.nav-arrow img {
    width: 1rem;
}


[id^=accordion]:checked~.nav-accordion-content {
    max-height: 1000px;

}

/* icones */
.nav-icons {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;

}

.nav-icons .nav-link img {
    width: 20px;
}

.horizontal-menu {
    display: none;
    width: 100%;
}

.horizontal-menu-list {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    gap: 3rem;
    z-index: 1;
    margin-bottom: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}


@media (min-width: 980px) {
    .contact-link-mobile {
        display: none;
    }

    .contact-link-desktop {
        display: flex;
    }

}

@media (min-width: 1600px) {
    .logo {
        position: absolute;
    }

    .ham-menu,
    .nav-icons {
        display: none;
    }


    .horizontal-menu {
        display: block;
    }

    .header {
        padding: 1rem 2rem;
    }

}