.testimonial {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.testimonial h2 {
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonial-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.testimonial-img {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.carousel-item {
    padding: 0;
}

.testimonial-quote {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-size: 7rem;
    line-height: 0;
    vertical-align: bottom;
}

.testimonial-content {
    background-color: #F2E9E5;
    color: var(--cinza-escuro);
    width: 85%;
    max-width: 377px;
    font-weight: 200;
    height: 600px;
    font-size: 1rem;
    padding: 4rem 2.5rem 3rem;
    margin: -150px auto 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 0 16px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
}

.testimonial-author {
    font-size: 1.8rem;
    opacity: .7;
    font-family: "Abhaya Libre", serif;
    font-weight: 100;
    text-align: right;
    border: 1px solid #F2E9E5;
    align-self: flex-end;
}

/* slider */
.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 189px;
    height: 224px;
    object-fit: cover;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
}

.swiper-button-prev {
    left: 0;
}

.right-arrow,
.left-arrow {
    width: 1.5rem;
    opacity: .6;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: var(--branco);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}

/* Breakpoints */
/* Small devices */
@media screen and (max-width: 320px) {
    .card__data {
        padding: 1rem;
    }
}

/* Medium devices */
@media screen and (min-width: 768px) {
    .card__content {
        margin-inline: 3rem;
        overflow-x: hidden;
    }
}

/* Large devices */
@media screen and (min-width: 1120px) {

    .swiper-button-prev {
        left: 1rem;
    }

    .swiper-button-next {
        right: 1rem;
    }
}