.partners {
    padding: 4rem 0;
    gap: 2rem;
    background-color: var(--preto);
    color: var(--branco);
    height: 100vh;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.partners h2 {
    width: 50%;
    margin: auto;
    text-align: center;
}

.partners-container {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    max-width: 1400px;
    padding: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-img {
    width: 70%;
    margin: auto;
    max-width: 400px;
}

.carousel-desktop {
    display: none;
}

.carousel-mobile {
    display: block;
}

@media (min-width: 768px) {
    .carousel-desktop {
        display: block;
    }

    .carousel-mobile {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}