.text {
    padding: 3rem 0;
    background-color: var(--preto-azulado);
    width: 100vw;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-card {
    width: calc(100% - 1rem);
    max-width: 750px;
    min-width: 300px;
    margin: auto;
    padding: 2rem;
    text-align: justify;
    background-color: var(--preto);
    color: var(--branco);
    font-weight: 200;
    font-size: clamp(.9rem, 2.5vw, 1.1rem);
    position: relative;
    z-index: 1;
    border-radius: 0 16px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .text-container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


}