.diferenciais {
    padding-top: 3rem;
    background-color: var(--preto);
    color: var(--branco);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-diferenciais {
    width: 100%;
    max-height: 500px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-diferenciais {
    width: 95%;
    max-width: 500px;
    text-align: center;
    padding: 2rem;

}

.diferenciais h2 {
    width: 60%;
    margin: auto;
}

.card-diferenciais p {
    font-weight: 200;

}

.card-diferenciais-img {
    width: 100%;
    margin: auto;
    max-width: 400px;
}

@media (min-width: 768px) {
    .card-diferenciais {
        margin-left: -135px;

    }

    .diferenciais {
        flex-direction: row;
    }

    .img-diferenciais {
        width: 60%;
        max-height: 700px;
    }

    .card-diferenciais-img {
        width: 90%;

    }
}

@media (min-width: 1200px) {

    .img-diferenciais {
        width: 50%;
        max-height: 700px;
    }
    .card-diferenciais-img {
        width: 100%;

    }
}