.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

/* home */
.home {
    width: 100vw;
    height: 100vh;
    background: url('../img-formaturas/capa-lp-formaturas.webp') center/cover no-repeat;
    background-attachment: fixed;
    position: relative;

}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(3, 3, 3, 0.849), rgba(0, 55, 128, 0.459));
    z-index: 1;
}

main {
    width: 100%;
}

.capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    z-index: 2;
}


.main-title {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-size: clamp(3rem, 8vw, 7rem);
    letter-spacing: clamp(0.4rem, 1.5vw, 2rem);
    color: var(--branco);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.capa-logo {
    width: 50%;
    max-width: 250px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

/*  text */
.text {
    padding: 3rem 0;
    background-color: var(--preto-azulado);
    width: 100vw;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-card {
    width: calc(100% - 1rem);
    max-width: 750px;
    min-width: 300px;
    margin: auto;
    padding: 2rem;
    text-align: justify;
    background-color: var(--preto);
    color: var(--branco);
    font-weight: 200;
    font-size: clamp(.9rem, 2.5vw, 1rem);
    position: relative;
    z-index: 1;
    border-radius: 0 16px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mtg-container {
    width: 90%;
    margin: auto;
    position: relative;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mtg-1 {
    width: 45%;
    max-width: 400px;
    margin-right: -15%;
    transition: all .3s ease-in-out;
    z-index: 2;

}

.mtg-1:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.mtg-2 {
    width: 50%;
    max-width: 446px;
    z-index: 1;
    top: 50%;
    transition: all .3s ease-in-out;
}

.mtg-2:hover {
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}



/* capacidade */
.about-the-space {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--preto);
    color: var(--branco);
    gap: 2rem;
    padding: 3rem 0;

}

.capacity-card-container {
    display: none;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
    margin: 3rem 0;
}

.capacity-card-container:nth-child(2) {
    background-color: var(--preto-azulado);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.capacity-card {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-align: center;
    width: 250px;
    height: 250px;
    z-index: 0;
    /* Contexto de empilhamento */
    margin: auto;
    background-color: var(--preto);
}

.capacity-card::after,
.capacity-card::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
}

.capacity-card::after {
    top: 0;
    left: 0;
    border-left: 3px solid var(--vermelho);
    border-top: 3px solid var(--vermelho);
}

.capacity-card::before {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid var(--vermelho);
    border-right: 3px solid var(--vermelho);
}

.capacity-carrossel {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.3rem;
}

.capacity-card-icon {
    width: 30%;
}

.diferenciais {
    text-align: center;
}

.diferenciais-lista {
    margin-top: 2rem;
    font-weight: 300;
    font-size: .9rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cta {
    background-color: var(--preto-azulado);
}

/* slider */
.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 189px;
    height: 224px;
    object-fit: cover;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "" !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
}

.swiper-button-prev {
    left: 0;
}

.right-arrow,
.left-arrow {
    width: 1.5rem;
    opacity: .6;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: var(--cinza-claro) !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mtg-1 {
        margin-right: -10%;

    }

    .capacity-card-container {
        display: flex;

    }

    .capacity-carrossel {
        display: none;
    }

    .capacity-card::after {
        top: -3px;
        left: -3px;
    }

    .capacity-card::before {
        bottom: -3px;
        right: -3px;

    }

    .card__content {
        margin-inline: 3rem;
        overflow-x: hidden;
    }
}

@media (min-width: 1120px) {
    .card__container {
        max-width: 1600px;
    }

    .swiper-button-prev {
        left: 1rem;
    }

    .swiper-button-next {
        right: 1rem;
    }

    .text-container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mtg-container {
        width: 60%;
        margin-top: 0;
        margin-left: -50px;

    }
}