* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100vw;
        font-size: clamp(.8rem, 1vw, 1rem);
        background-color: var(--preto);
        color: var(--branco);
}

/* home */
#home {
        height: calc(100vh - 60px);
        background: url("../img/capa-1.webp") center/cover no-repeat;
        background-attachment: fixed;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 4rem;
}

.home::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, rgba(3, 3, 3, 0.514), rgba(0, 55, 128, 0));
        z-index: 1;
}

.home-card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 600px;
        margin-top: auto;
        min-height: 80%;
        text-align: center;
        background-color: #0000007a;
        backdrop-filter: blur(1px);
        color: #fdfdfd;
        font-size: clamp(.8rem 2.5vw .9rem);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.349);
        z-index: 2;
}

.home-title span {
        font-size: clamp(1.2rem, 1.8vw, 2rem);
        margin: 0;
}

.home-title {
        font-size: clamp(1.6rem, 2vw, 3rem);
        display: flex;
        flex-direction: column;
}


/* eventos */
.tipo-de-evento {
        font-weight: 300;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        gap: 2rem;
}

.texto-chamada {
        margin: auto;
        width: 80%;
        text-align: center;
}

.evento-container {
        display: grid;
        gap: 1rem;
        max-width: 1000px;
        grid-template-rows: repeat(4, 1fr);

}

.card-container {
        aspect-ratio: 1/1;
        width: 350px;
}

.evento-card {
        align-items: flex-start;
        background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        justify-content: space-between;
        padding: 2.1rem;
        transition: transform 0.3s ease;
        width: 100%;
        height: 100%;
}

.evento-btn {
        padding: .5rem 2rem;
}

.evento-card p {
        width: 80%;
        font-size: .9rem;
}

.casamento-container {
        background: url('../img/card-casamentos.webp') center/cover no-repeat;
}

.corporativo-container {
        background: url('../img/card-corporativo.webp') center/cover no-repeat;
}

.formatura-container {
        background: url('../img/card-formatura.webp') center/cover no-repeat;
}

.aniversario-container {
        background: url('../img/card-aniversario.webp') center/cover no-repeat;
}


#photo-gallery {
        background-color: var(--preto-azulado);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        min-height: 80vh;

}

.slide-container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 2rem 0;
}

.slide-draggable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: grab;

}

.slide-draggable:active {
        cursor: grabbing;
}

.slide-display {
        width: 100%;
        margin: auto;
        display: flex;
        overflow-x: hidden;
}

.slide-track {
        display: flex;
        gap: 1rem;
}

.slide-controls {
        display: none;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        /* Alinha verticalmente ao centro */
        left: 50%;
        /* Alinha horizontalmente ao centro */
        transform: translate(-50%, -50%);
        z-index: 3;
}

.slide-control-prev, 
.slide-control-next {
        cursor: pointer;
        width: 1.5rem;
}

.slide-dots-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;
        z-index: 3;
}

.slide-dot {
        border-radius: 100%;
        border: none;
        width: 8px;
        background-color: #666666;
        aspect-ratio: 1/1;
        cursor: pointer;
}

.slide-dot.active {
        width: 9px;
        background-color: rgb(206, 14, 14);
}

/* diferennciais */
.diferenciais {
        padding-top: 3rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.img-diferenciais {
        width: 90%;
        max-width: 900px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 32px;
}

.card-diferenciais {
        width: 80%;
        max-width: 700px;
        text-align: center;
        margin-top: 2rem;
}

/* .diferenciais h2 {
        width: 60%;
        margin: auto;
} */

.card-diferenciais p {
        font-weight: 200;

}

.card-diferenciais-img {
        width: 100%;
        margin: auto;
        max-width: 500px;
}


/* alta gastronomia */
.alta-gastronomia {
        font-size: .9rem;
        background-color: var(--preto-azulado);
        color: var(--branco);
        padding: 4rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
}

.alta-gastronomia-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 980px;
        margin: auto;
}

.alta-gastronomia h2 {
        margin-bottom: 5px;
        max-width: 400px;
        align-self: flex-start;
        flex: 1;

}

.alta-gastronomia p {
        text-align: justify;
        width: 100%;
        max-width: 500px;

}

.title-mobile {
        display: block;
}

.title-desktop {
        display: none;
}

.text-alta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        height: 100%;
}

.text-alta div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;
}

.alta-gastronomia-img {
        width: 100%;
        max-width: 350px;
}


/* realize seu eveento conosco */
.realize {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--preto);
        color: var(--branco);
        padding: 3rem 2rem 2rem;
        gap: 3rem;
        font-size: .9rem;

}

.realize p {
        width: 100%;
        max-width: 800px;
        margin: auto;
        text-align: center;
}

.realize-mosaico {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        /* 2 colunas */
        grid-template-rows: repeat(2, auto);
        /* 2 linhas */
}

.realize-mosaico img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Faz a imagem preencher o espaço sem distorcer */
}

/* tour e onde estamos */
.tour,
.onde-estamos {
        min-height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
}

.tour {
        background-color: var(--preto-azulado);
}

.display-video,
.display-map {
        width: 100%;
        max-width: 800px;
        aspect-ratio: 16/9;
        background-color: #000;
        cursor: pointer;
}

.display-video img,
.display-map img {
        width: 100%;
}

.tour iframe,
.display-map iframe {
        width: 100%;
        height: 100%;
}

.mapa {
        width: 100%;
        height: 60%;
        max-height: 800px;

}

.endereco {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        text-decoration: none;
        color: var(--branco);
}

.mapa-icone {
        width: 35px;
        height: 35px;
}

/* faq */
.faq {
        background-color: var(--preto-azulado);
        font-family: var(--fonte-principal);
        font-weight: 300;
        font-size: 1rem;
        padding: 4rem 2rem;
        margin-bottom: 0;
        text-align: center;
}

.faq h2 {
        margin: 0 auto;
        margin-bottom: 2rem;
}

.accordions-container {
        width: 100%;
        max-width: 1000px;
        font-family: sans-serif;
        margin: 0 auto;
        text-align: left;
}

.accordion-item {
        margin-bottom: 1rem;
}

.accordion-item input {
        display: none;
}

.accordion-item label {
        display: flex;
        cursor: pointer;
        padding: 1rem 0;
        justify-content: space-between;
        align-items: center;
}

.accordion-content {
        font-size: .9rem;
        opacity: .6;
        padding: 0 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in-out;
        border-left: 1.5px solid var(--vermelho);
}

.arrow {
        transition: transform 0.3s ease-in-out;
}

.arrow img {
        width: 1rem;
}

[id^=accordion]:checked~.accordion-content {
        max-height: 1000px;

}

@media (min-width: 768px) {

        .evento-container {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

        }

        .mobile {
                display: none !important;
        }

        .carousel-container {
                display: flex;
        }

        .img-container {
                height: 100%;
                width: 100% !important;
                max-width: 500px !important;
        }

        .alta-gastronomia {
                gap: 3rem;
                justify-content: center;
                align-items: center;
        }

        .title-mobile {
                display: none;
        }

        .title-desktop {
                display: block;
        }

}

@media (min-width: 1200px) {

        .diferenciais {
                flex-direction: row;
                justify-content: center;
                align-items: center;
        }

        .img-diferenciais {
                width: 60%;
                max-width: 900px;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                border-radius: 32px;
        }

        .card-diferenciais {
                width: 50%;
                max-width: 700px;
                text-align: center;
                margin-top: 0;
                margin-left: -135px;

        }


        .card-diferenciais p {
                font-weight: 200;

        }

        .card-diferenciais-img {
                width: 100%;
                margin: auto;
                max-width: 500px;
        }


        .home-card {
                height: 80%;
                max-height: 450px;
                min-height: 0;
        }

}

@media (min-width: 1400px) {
        .evento-container {
                max-width: none;
        }

        .realize-mosaico,
        .evento-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(1, 1fr);
        }

}