.alta-gastronomia {
    font-size: .9rem;
    background-color: var(--preto-azulado);
    color: var(--branco);
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alta-gastronomia-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.alta-gastronomia h2 {
    margin-bottom: 5px;
    max-width: 400px;
    align-self: flex-start;
    flex: 1;

}

.alta-gastronomia p {
    text-align: justify;
    width: 100%;
    max-width: 500px;

}

.title-mobile {
    display: block;
}

.title-desktop {
    display: none;
}

.text-alta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;
}

.text-alta div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.alta-gastronomia-img {
    width: 100%;
    max-width: 350px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .alta-gastronomia {
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .title-mobile {
        display: none;
    }

    .title-desktop {
        display: block;
    }

    /*   .text-alta {
        flex-direction: row;
        flex-wrap: nowrap;
    } */


}