.footer {
    width: 100vw;
    color: var(--branco);
    background-color: var(--preto);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    min-height: 40vh;
    margin: auto;
    margin-top: -1px;
}

.footer-dark {
    background-color: var(--preto-azulado);
}

.footer div {
    width: 100%;
    max-width: 375px;
}

.footer-logo {
    width: 100%;
    max-width: 380px;
}

.footer-logo img {
    width: 60%;
    max-width: 200px;
    margin-top: 0;
}

.footer-logo p {
    text-align: justify;
    font-weight: 300;
    font-size: .9rem;
}


.footer-icone {
    width: 2rem;
    height: 2rem;
}

.contact-us,
.follow-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.footer-contact,
.follow-us-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--branco);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
}

.footer-contact-mobile {
    display: flex;
}

.footer-contact-desktop {
    display: none;
}

.footer-contact p {
    margin: 0;
}

.footer-contact:hover,
.follow-us-link:hover,
.footer-link:hover {
    color: var(--vermelho);

}

.footer-nav {
    display: none;
}

.footer-nav-list {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 300;
}


.dev-contact {
    background-color: var(--preto-azulado);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--branco);
    font-weight: 300;
    font-size: clamp(.8rem, 2.5vw, .8rem);
    padding: 2rem;
    margin-top: -1px;
}
.dev-contact-preto{
    background-color: var(--preto);
}
.dev-info {
    display: flex;
    gap: 3rem;
}

.dev-contact p {
    margin: 0;
}

.dev-contact a {
    text-decoration: none;
    color: var(--branco);
}

.dev-medias img {
    width: 1.5rem;
}

@media (min-width: 768px) {
    .footer-nav {
        display: block;
    }
}

@media (min-width: 1080px) {
    .footer-contact-mobile {
        display: none;
    }

    .footer-contact-desktop {
        display: flex;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }
}